body{
    background-color:EADBDB;

}
#main-pic{
    height:40em;
    width:60em;

}
#big-pic{
    height:25em;
    width:25em;

}
.three-pic{
    height:35em;
    width:30em;
}
div {
    background-color:8262A4;
}